/*  Spacing System (px)
//  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

//  FONT SIZE SYSTEM (px)
//  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 /160 */

:root {
  --color-brand-400: #bed0f4;
  --color-brand-500: #a8c1f1;
  --color-brand-600: #92b1ed;
  --color-brand-700: #758ebe;
  --color-brand-800: #586a8e;
  --color-brand-850: #495977;

  /* greys */
  --color-navy-400: #73777d;
  --color-navy-500: #444952;
  --color-navy-600: #151c27;

  --color-pink-400: #fbb1b1;
  --color-pink-500: #fa9797;
  --color-pink-600: #f97d7d; /* primary */

  --color-blue-400: #91b2f0;
  --color-blue-500: #6c99eb;
  --color-blue-600: #477fe6;

  --color-skin-400: #faf2ec;
  --color-skin-500: #f9eee6;
  --color-skin-600: #f7eae0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

.svg-pin1 {
  position: absolute;
  bottom: 20%;
  left: 45%;
  animation: showPin1 ease-in forwards;
}

.svg-pin2 {
  position: absolute;
  bottom: 25%;
  left: 35%;
  animation: showPin2 ease-in forwards;
}

.svg-pin3 {
  position: absolute;
  bottom: 25%;
  left: 55%;
  animation: showPin3 ease-in forwards;
}

.svg-pin4 {
  position: absolute;
  bottom: 22%;
  left: 60%;
  animation: showPin4 ease-in forwards;
}

.svg-pin5 {
  position: absolute;
  bottom: 18%;
  left: 70%;
  animation: showPin5 ease-in forwards;
}

.svg-pin6 {
  position: absolute;
  bottom: 24%;
  left: 74%;
  animation: showPin6 ease-in forwards;
}

.svg-pin7 {
  position: absolute;
  bottom: 15%;
  left: 85%;
  animation: showPin7 ease-in forwards;
}

.svg {
  opacity: 0;
  animation-timeline: view(60vh 0);
}

@keyframes showPin1 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 10%;
  }
}

@keyframes showPin2 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 15%;
  }
}
@keyframes showPin3 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 15%;
  }
}
@keyframes showPin4 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 12%;
  }
}
@keyframes showPin5 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 8%;
  }
}
@keyframes showPin6 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 14%;
  }
}
@keyframes showPin7 {
  to {
    opacity: 1;
    transform: rotateY(360deg);
    bottom: 5%;
  }
}
